.typewriter{
	font-size: 30px;
	position: absolute;
	top: 30%;
	z-index: 3;
	text-align: center;
	width: 100%;
	/*width: 5ch;*/
	height: 30px;
	overflow: hidden;
	/*background-color: red;*/
}
.typewriter p {
  overflow: hidden;
  /*width: max-content;*/
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em;
  width: 0ch;
  animation: typing 5.5s steps(30, end),
  blink-caret .75s step-end ;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes typing {
  from { width: 0ch }
  to { width: 30ch;}
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@media(max-width: 900px){
	.typewriter{
		font-size: 18px !important;
		top:12% !important;
	}
}